.videos{
    text-align: center;
    padding: 50px 0;
}

.videos #slider #controles{
    display: flex;
    justify-content: center;
}

.videos #slider #controles #prevbuttom,
.videos #slider #controles #nextbuttom{
    border: 0;
    width: 80px;
    height: 50px;
    background-color: rgb(58, 58, 58, 58);
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: all 0.3s ease;
}

.videos #slider #controles:hover #prevbuttom,
.videos #slider #controles:hover #nextbuttom{
    background-color: rgba(37, 37, 37, 37);
}

.videos #slider #containerListMovies{
    display: flex;
    justify-content: center;
    gap:10px;
    width: 100%;
}

.videos #slider #containerListMovies .item img{
    cursor: pointer;
}

.videos #slider #containerListMovies .item:hover img{
    opacity: 0.6;
    object-fit: contain;
}

.videos #slider #containerListMovies .item{
    position: relative;
}

.videos #slider #containerListMovies .item a::before{
    content: '👌';
    position: absolute;
    left: 150px;
    top:75px;
    color:white;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}






















